extends layout
block content

    .container
        h2 Attraction List
        .row
            each item in items
                .card.col-sm-4(style="padding: 10px;")
                    img.card-img-top(src=item.mainImage alt='Card image' style='width:100%')
                    .card-body
                        h4.card-title= item.title
                        p.card-text= item.sContents
                        a.btn.btn-primary(href='#') See Detail
        br
        //- form(action='/' method='post')
        //-     input(type="hidden", name="page", value="0")
        //-     input.btn.btn-success(type='submit', value="Home")
        //- form(action='/' method='post')
        //-     input(type="hidden", name="page", value=page+1)
        //-     input.btn.btn-success(type='submit', value="Next")

        center
            a.btn.btn-success(href="/find" style="margin-right: 5px;") Home
            - var n = 0;
            while n < 10
                if page
                    if page == n
                        a.btn.btn-primary(href="/find/" + n style="margin-right: 5px;")= n++
                    else
                        a.btn.btn-default(href="/find/" + n style="margin-right: 5px;")= n++
                else
                    a.btn.btn-default(href="/find/" + n style="margin-right: 5px;")= n++


