extends vue_layout
block content



    - function func(){ return "Register Lost Item"};

    div(style="margin-top: 48px;")
        v-app
            v-content.brown.lighten-5
                v-container.pa-2

                    v-flex(md12='')
                        v-card.elevation-10.pa-3.my-4

                            v-card-title.headline.pa-0= func()
                            //h2= func()

                            if image == null
                                hr

                                form(action='/lost' method='post' enctype="multipart/form-data", id='image-form')
                                    input(id='file', type='file', name='file', v-on:change='imageChange', accept="image/*" style='display: none;')
                                    v-layout(xs12, align-center)
                                        v-card(width='100%')
                                            v-card-title.grey.lighten-5
                                                div
                                                    h2.headline.my-0.py-0 Upload Image

                                            hr.my-0
                                            v-progress-linear.my-0(:indeterminate="true", height="2", color='deep-orange darken-3', v-if='isProgress')

                                            v-flex(xs12, text-xs-center)
                                                img.pa-2(:src='imgSrc', id='uploaded-img', width='50%', v-if='isFile')

                                            v-flex.py-5(xs12, text-xs-center, v-if='!isFile')
                                                v-btn(width='100%', color='info', v-on:click='browseClick', flat, large) Browse

                                            v-card-actions.right(v-if='isFile')
                                                v-btn(flat, small, color='red', v-on:click='removeFile') Remove
                                                v-btn(flat, small, color='orange', v-on:click='browseClick') Change
                                                v-btn(flat, small, color='info', v-on:click='uploadImage') Submit

                                v-subheader * JPG, PNG, GIF 파일만 업로드 가능합니다.

                            else
                                hr
                                v-form.form-horizontal(ref="form" action='/lost/test2' method='POST')
                                    .form-group
                                        label.control-label.col-sm-2 Image:
                                        .col-sm-10
                                            v-card.elevation-10.mb-3(width='60%')
                                                img(src= image width="100%")

                                    .form-group
                                        label.control-label.col-sm-2 Category:
                                        .col-sm-10
                                            v-layout(wrap)
                                                v-flex.pr-2(xs6, md3)
                                                    v-select(color="orange darken-2", :items='categories', v-model='tempCategory', label='Select category', auto, append-icon='account_balance', autocomplete, v-on:change='changeSubCategories()')
                                                v-flex.pl-2(xs6, md3)
                                                    v-select(color="orange darken-2", :items='subcategories', v-model='subcategory', label='Select sub', auto, append-icon='room', autocomplete, :loading='loadingSubCategory')

                                            v-text-field(color='orange darken-3', label='Category', value='Processing image recognition. Please wait.', readonly, loading, v-if='isRecognitionProgress')
                                                v-progress-linear(slot='progress', indeterminate, color='orange darken-3', dark, height='2')

                                            v-chip.elevation-2(color="orange darken-2", text-color="white", v-if='recognitionData !=  null') {{ category }}
                                            v-flex(sm6, xs12)
                                                v-expansion-panel.elevation-0(v-if='recognitionData != null', popout)
                                                    v-expansion-panel-content
                                                        div.pl-0(slot='header') Show the result.
                                                        v-card.pb-2(v-for='rd in recognitionData')
                                                            v-card-text.py-0
                                                                | {{ rd.title }} - {{ rd.accuracy }}%

                                    .form-group
                                        label.control-label.col-sm-2 Name:
                                        .col-sm-10
                                            v-text-field(color="orange darken-2", label='Name', v-model='name', :rules="nameRules", :counter='10', name='name')

                                    .form-group
                                        label.control-label.col-sm-2 E-mail:
                                        .col-sm-10
                                            v-text-field(color="orange darken-2", label='E-mail', v-model='email', :rules="emailRules", name='email')

                                    .form-group
                                        label.control-label.col-sm-2 Labels:
                                        .col-sm-10
                                            v-select(color="orange darken-2", label='Input labels', chips='', tags='', clearable='', v-model='labels' )
                                                template(slot='selection', slot-scope='data')
                                                    v-chip.elevation-2(close='', @input='removeLabel(data.item)', :selected='data.selected', color="orange darken-2", text-color="white")
                                                        strong.title.mr-1 #
                                                        strong {{ data.item }}

                                    .form-group
                                        label.control-label.col-sm-2 Description:
                                        .col-sm-10
                                            v-select(color="orange darken-2", label='Input some text', chips='', tags='', clearable='', v-model='texts')
                                                template(slot='selection', slot-scope='data')
                                                    v-chip.elevation-2( close='', @input='removeText(data.item)', :selected='data.selected', color="orange darken-2", text-color="white")
                                                        strong.title.mr-1 #
                                                        strong {{ data.item }}

                                    .form-group
                                        label.control-label.col-sm-2 Logos:
                                        .col-sm-10
                                            //v-select(label='Input brand name', chips='', tags='', solo='', append-icon='', clearable='', v-model='logos')
                                            v-select(color="orange darken-2", label='Input brand name', chips='', tags='', clearable='', v-model='logos')
                                                template(slot='selection', slot-scope='data')
                                                    v-chip.elevation-2( close='', @input='removeLogo(data.item)', :selected='data.selected', color="orange darken-2", text-color="white")
                                                        strong.title.mr-1 #
                                                        strong {{ data.item }}

                                    .form-group
                                        label.control-label.col-sm-2(for='date') 습득일:
                                        .col-sm-10
                                            v-date-picker.elevation-10.mb-3.hidden-sm-and-down(v-model='date', :landscape='true', color="brown darken-1", name='date')
                                            //v-date-picker.mt-3(full-width landscape v-model='picker', color="green lighten-1")
                                            v-dialog.hidden-md-and-up(ref='dialog', persistent, v-model='modal', lazy, full-width, width='330px', :return-value.sync='date')
                                                v-text-field(color="orange darken-2", slot='activator', label='습득일', v-model='date', readonly)
                                                v-date-picker(v-model='date', scrollable, color="brown darken-1", name='date')
                                                    v-spacer
                                                    v-btn(flat='', color='primary', @click='modal = false') Cancel
                                                    v-btn(flat='', color='primary', @click='$refs.dialog.save(date)') OK

                                    .form-group
                                        label.control-label.col-sm-2 Location:
                                        .col-sm-10
                                            v-layout( wrap)
                                                v-flex(xs5, md3)
                                                    v-select.xs3(color="orange darken-2", :items='buildings', v-model='selectedBuilding', label='Select building', auto, append-icon='account_balance', autocomplete)
                                                v-flex.ml-2(xs4, md2)
                                                    v-select.xs3(color="orange darken-2", :items='rooms', v-model='selectedRoom', label='Select room', auto, append-icon='room', autocomplete)
                                                v-flex.ml-2.pt-2(xs2, md1, v-show='!locationProgress', style='vertical-align: middle;')
                                                    v-fab-transition
                                                        v-btn(color='primary', dark, fab, small, v-on:click='getCurrentLocation')
                                                            v-icon my_location
                                                //v-flex.ml-2(xs6, md1, v-if='locationProgress')
                                                //    v-progress-circular(:indeterminate="true", color='info')

                                            //v-btn(color='primary', v-on:click='getCurrentLocation', v-if='!locationProgress') Get location

                                            v-card.elevation-5.ml-1.mr-3.mb-3
                                                v-progress-linear.py-0.my-0(:indeterminate="true", color='deep-orange darken-3', v-if='locationProgress', height='2')
                                                div(id='div_map', style='width:100%; height:200px;')


                                            //    img.pa-2(:src='mapUrl', id='map-img', width='100%', v-if='mapUrl != null')
                                                //#map(width='50%')
                                                //script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCEFVgjGWKUi7iA37ful7Fgkle2nGVzfv8&callback=initMap')


                                    hr.pb-0.mb-0
                                    //p(class='right')
                                    //div(class=right)
                                        //v-btn(color='info', @click.native="responseDialog = true") Dialog(temp)
                                    .form-group.ma-0.pt-2
                                        v-card-actions.right
                                            v-btn(color='error', type='button', onclick="window.location.href='/lost'") Back
                                            v-btn(color='info', @click="submitWithAxios") Submit




        include vue_footer
        include vue_menu_fab

    include vue_dialog


    script.
        function initMap() {
            console.log('initMap');
            var uluru = {lat: 37.550511, lng: 127.073852};
            var map = new google.maps.Map(document.getElementById('div_map'), {
                zoom: 17,
                center: uluru
            });
            console.log(map);
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }
    script(async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCEFVgjGWKUi7iA37ful7Fgkle2nGVzfv8&callback=initMap')

    script(type="text/javascript" src='/javascripts/lost-config.js')
    script.
        const vue = init("#{image}", '#{labels}', '#{texts}', '#{logos}');
