extends layout
block content

    - function func(){ return "Register Lost Item"};

    .container
        h2= func()

        if image == null
            hr
            form.form-horizontal(action='/lost' method='post' enctype="multipart/form-data")
                .imageupload.panel.panel-default
                    .panel-heading.clearfix
                        h3.panel-title.pull-left Upload Image
                        .btn-group.pull-right
                            button.btn.btn-default.active(type='button') File
                            //button.btn.btn-default(type='button') URL
                    .file-tab.panel-body
                        label.btn.btn-default.btn-file
                            span Browse
                            // The file is stored here.
                            input(type='file', name='image-file')
                        button.btn.btn-default(type='button') Remove
                    //.url-tab.panel-body
                    //    .input-group
                    //        input.form-control.hasclear(type='text', placeholder='Image URL')
                    //        .input-group-btn
                    //            button.btn.btn-default(type='button') Submit
                    //    button.btn.btn-default(type='button') Remove
                    //    // The URL is stored here.
                    //    input(type='hidden', name='image-url')

                div(align='center')
                    button.btn.btn-primary(type='submit') Submit
        else
            hr



            form.form-horizontal(id='form-detail' action='/lost/test' enctype='application/json' method='post')
                .form-group
                    label.control-label.col-sm-2 Image:
                    .col-sm-10
                        img(src= image width="50%")
                        br
                        br
                .form-group
                    label.control-label.col-sm-2(for='email') Email:
                    .col-sm-10
                        input#email.form-control(type='email', placeholder='Enter email', name='email')
                .form-group
                    label.control-label.col-sm-2(for='pwd') Password:
                    .col-sm-10
                        input#pwd.form-control(type='password', placeholder='Enter password', name='pwd')

                //input(type='hidden' name='label_count' value=labels.length)
                if labels.length > 0
                    .form-group
                        label.control-label.col-sm-2 Labels:
                        .col-sm-10
                            ul.tags
                                - var count = 0;
                                each label in labels
                                    li.tag
                                        input.reset-this(type='button' id= "labels_" + count value=label onclick="changeInputText(this)")
                                        input(type='hidden' class= "labels_" + count name= "labels" value=label)
                                    -count+=1;

                //input(type='hidden' name='text_count' value=texts.length)
                if texts.length > 0
                    .form-group
                        label.control-label.col-sm-2 Texts:
                        .col-sm-10
                            ul.tags
                                - var count = 0;
                                each txt in texts
                                    li.tag
                                        input.reset-this(type='button' id= "texts_" + count value=txt onclick="changeInputText(this)")
                                        input(type='hidden' class= "texts_" + count name= "texts" value=txt)
                                    -count+=1;

                //input(type='hidden' name='logo_count' value=logos.length)
                if logos.length > 0
                    .form-group
                        label.control-label.col-sm-2 Logos:
                        .col-sm-10
                            ul.tags
                                - var count = 0;
                                each logo in logos
                                    li.tag
                                        input.reset-this(type='button' id= "logos_" + count value=logo onclick="changeInputText(this)")
                                        input(type='hidden' class= "logos_" + count name= "logos" value=logo)
                                    -count+=1;

                //input(type='text' name='color_count' value=colors.length)
                if colors.length > 0
                    .form-group
                        label.control-label.col-sm-2 Colors:
                        .col-sm-10
                            ul.tags(style="overflow:visible;")
                                - var count = 0;
                                each color in colors
                                    li
                                        .card(id= "color_"+count)
                                            .card-top(style="background-color: rgb(" + color.red + "," + color.green + "," + color.blue + ");")
                                            .card-bottom
                                                = color.red + ", " + color.green + ", " + color.blue
                                    - count+=1;

                .form-group
                    .col-sm-offset-2.col-sm-10
                        button.btn.btn-danger(type='button', onclick="window.location.href='/lost'" style="margin-right: 5px;") Back
                        button.btn.btn-primary(type='submit') Submit





    script.
        var $imageupload = $('.imageupload');
        $imageupload.imageupload();
        $('#imageupload-disable').on('click', function () {
            $imageupload.imageupload('disable');
            $(this).blur();
        })
        $('#imageupload-enable').on('click', function () {
            $imageupload.imageupload('enable');
            $(this).blur();
        })
        $('#imageupload-reset').on('click', function () {
            $imageupload.imageupload('reset');
            $(this).blur();
        });

    script.
        function changeText(id) {
            var changedText;
            var text = document.getElementById(id).innerHTML;
            var popup = prompt("Please enter text:", text);
            if (popup == null || popup == "") {
                changedText = text;
            } else {
                changedText = popup;
            }
            document.getElementById(id).innerHTML= changedText;
        }

        function changeInputText(el) {
            // alert(el.value);
            var changedText;
            var text = el.value;
            var popup = prompt("Please enter text:", text);
            if (popup == null || popup == "") {
                changedText = text;
            } else {
                changedText = popup;
            }
            el.value = changedText;
            var id = el.id;
            el_hidden = document.getElementsByClassName(id)[0];
            el_hidden.value = el.value;
        }

